// Sass index
@import "Mixins/addTag.scss";
@import "Mixins/filtreBtn.scss";
@import "Mixins/vignette.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include addTag;
        @include filtreButton;
        @include vignette;
    }
}