@mixin filtreButton {
    .filterContainer {
        margin-top: 1em;
        width: 90%;
        display: flex;
        justify-content: start;

        @media screen and (max-width: 637px) {
            display: none;
        }
    
        .filtreButton {
            width: 170px;
            min-width: 170px;
            min-height: 69px;
            height: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            .filtreBoutton__filterTop {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 95%;
                    input {
                        width: 60%;
                        background-color: #3282F7;
                        border: none;
                        color: white;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 18px;
                    }

                    span {
                        width: 60%;
                        border: none;
                        color: white;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 18px;
                    }

                    input::placeholder{
                        color: white;
                    }

                    .filtreButton__Arrow{
                        i {
                            color: white;
                            font-size: 18px;
                        }
                    }
            }
        }

        .click {
            width: 667px;
            height: 100%;
            max-height: 397px;

            .filtreBoutton__filterTop {

                justify-content: space-between;
                margin-top: 20px;

                input::placeholder{
                    color: white;
                    opacity: 0.5;
                }
            }

            .tagContainer {
                overflow-y:scroll;
                overflow-x: hidden;
                width: 95%;
                display: grid;
                grid-template-columns: repeat(3, 25%);
                text-overflow: ellipsis;
                justify-content: space-between;
                margin-top: 20px;
                padding-bottom: 1em;

                span {
                    color: white;
                    font-size: 18px;
                    font-style: normal;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 1.5em;
                }
            }
        }

        .Ingredients {
            background-color: #3282F7;
            margin-right: 2em;

            .filtreBoutton__filterTop {

                input {
                    background-color: #3282F7;
                }
            }
        }

        .Appareil {
            background-color: #68D9A4;
            margin-right: 2em;

            .filtreBoutton__filterTop {
                input {
                    background-color: #68D9A4;
                }
            }
        }

        .Ustensils {
            background-color: #ED6454;

            .filtreBoutton__filterTop {

                input {
                    background-color: #ED6454;
                }
            }
        }   
    }
}

