@mixin vignette {
        
    aside {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 380px);
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2em;
        border-radius: 5px;

        @media screen and (max-width: 1300px) {
          grid-template-columns: repeat(2, 380px);
        }

        @media screen and (max-width: 870px) {
          grid-template-columns: repeat(1, 380px);
          justify-content: center;
        }

        @media screen and (max-width: 570px) {
          width: 300px;
          align-items: center;
        }
    
        .vignette__container__of {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .vignettes {
          height: 364px;
          width: 380px;
          margin-bottom: 4em;
          border-radius: 5px;

          @media screen and (max-width: 570px) {
            width: 300px;
          }

          @media screen and (max-width: 400px) {
            width: 250px;
          }
    
          .vignette__top {
            background-color: #c7bebe;
            height: 45%;
            width: 100%;
            border-radius: 5px 5px 0 0;
          }
    
          .vignette__bottom {
            height: 55%;
            width: 100%;
            background-color: #e7e7e7;
            border-radius: 0 0 5px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .vignette__bottom__top {
              height: 30%;
              width: 90%;
              display: flex;
              justify-content: space-between;
              align-items: center;
    
              .vignette__bottom__top__title {
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                max-width: 14em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
    
              .vignette__bottom__top__time {
                .vignette__bottom__top__time__clock {
                  font-weight: 500;
                  font-style: normal;
                  font-size: 18px;
                }
    
                .vignette__bottom__top__time__minute {
                  font-weight: 700;
                  font-style: normal;
                  font-size: 18px;
                }
              }
            }
    
            .vignette__bottom__bottom {
              width: 90%;
              height: 70%;
              display: flex;
              text-overflow: ellipsis;
    
              .vignette__bottom__bottom__ingredient {
                min-width: 50%;
                height: 90%;
                overflow: hidden;
    
                .ingredient__container {
                  text-overflow: ellipsis;
                  font-style: normal;
                  font-size: 12px;
                  font-weight: 400;
    
                  .ingredient {
                    font-weight: 700;
                  }
                }
              }
    
              .vignette__bottom__bottom__description {
                min-width: 50%;
                height: 76%;
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                -webkit-line-clamp: 7;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    
      .vignettes:hover {
        -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48); 
        box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
       
        cursor: pointer;
      }
}